<div class="flex flex-col gap-8 justify-center items-center">
  <h1>Todo List de fou zinzin</h1>
  <p>Completed: {{ store.completedCount() }}/{{ store.tasksCount() }}</p>

  <div class="flex gap-8">
    <input
      type="text"
      placeholder="Ajouter une task"
      (keyup.enter)="addTaskFromEvent($event)"
      class="border border-blue-500 rounded px-4 py-2"
    />

    <select
      (change)="updateFilterFromEvent($event)"
      class="border border-blue-500 rounded px-4 py-2"
    >
      <option value="all">All</option>
      <option value="completed">Completed</option>
      <option value="incomplete">Incomplete</option>
    </select>
  </div>

  <ul class="flex flex-col w-160 items-center justify-center gap-[1vw]">
    <li
      *ngFor="let task of store.filteredTasks()"
      class="flex justify-between w-[100%] bg-blue-200 p-4 rounded shadow-md"
    >
      <input
        type="checkbox"
        [checked]="task.completed"
        (change)="store.toggleTask(task.id)"
        class="cursor-pointer"
      />
      {{ task.content }}
      <button (click)="store.deleteTask(task.id)" class="cursor-pointer">
        Delete
      </button>
    </li>
  </ul>
</div>
